.main-wrapper{
  height: 100vh;
}

img{
  width: 100%;
  object-fit: cover;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

.debug{
  min-height: 50px;
  background-color: red;
  border: 1px solid black;
}

.de_bug{
  min-height: 30px;
  width: 200px;
  background-color: blue;
  border: 1px solid black;
}


/*HEADER*/


.header-left{
  min-height: 30px;
  width: 200px;
  cursor: pointer;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
}

.header-left i{
  color: #1B1D1E;
}

.header-center{
  min-height: 30px;
  width: 90%;
}

.header-center input{
  width: 100%;
}

.header-right{
  min-height: 30px;
  width: 8%;
  background-color: blue;
  border: 1px solid black;
  
}

.header-right i{
  padding-left: 7px;
}

.header-right i:last-child{
  color: #FF8F00;
}



main{
  display: flex;
  height: calc(100% - 90px);
}

/*ASIDE*/

aside{
  width: 150px;
  height: 100%;
  flex-shrink: 0;

  background-color: #051E34;
}

.aside-container{
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
}

.aside-container .aside-nav{
  padding-top: 15px;
}

.aside-nav a{
  line-height: 40px;
}

.aside-nav a i{
  margin-right: 10px;
}

.aside-bottom{
  height: 10%;
  width: 90%;
  position: absolute;
  bottom: 15px;
  left: 25px;
}

.aside-bottom a{
  padding-left: 14px;
}

.aside-bottom a i{
  margin-right: 5px;
}

/*MAIN CONTENT*/

.content-top{
  background-color: red;
  height: 10%;
  width: 100%;
}

.content{
  background-color: #FF8F00;
  height: 100%;
  width: 100%;
}