.ct-container{
  background-color: #F8F9FA !important;
  height: 80px ;
  width: 100%;
}

.debug{
  background-color: blue;
  border: 1px solid black;
  min-height: 50px;
}

.ct-navbar{
  width: 100%;
  background-color: red;
  height: 50px;
}

.ct-navbar a{
  cursor: pointer;
}

#icon-navbar{
  cursor: pointer;
}

#icon-navbar i:last-child{
  color: #FF8F00;
}

aside{
  background-color: #051E34;
  width: 10%;
}

.main-top{
  background-color: #1B72E8;
  height: 100px;
  width: 90%;
  float: right;
  display: flex;
  justify-content: space-around;
}

